.sidebar {
  width: 150px;
  height: 70vh;
  top: 10%;
  left: 0;
  background: #cfd8dc;
  /* overflow-x: hidden; */
  padding-top: 16px;
}
.link {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  padding: 20px;

}
.link:hover{
  color: #111;
  transform: scale(1.2);
  text-shadow: none;
}

