.parnet {
  position: relative;
}

.helps {
  /* width:50%; */
  /* height: 20%; */
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 80px;
  position: absolute;
  top: 30%;
  left: 40%;
}

input[type="text"],
select {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
