
nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding:10px;
  height: 40px;
  /* margin: 20px; */
  background: #cfd8dc; 
}
nav div {
  display: flex; 
}
.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 9%;
  left: 0;
  background: #cfd8dc;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.middleware{
  width:70%;
}
footer{
  width:100%;
  height: 100px;
  background: #cfd8dc;
}
